  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="mOdXI1XiMm-qL5mjHZ33G6cBok58yx7JKz0fOHs1bOk" />

    <title>$title$ | $superTitle$</title>
    <meta name="description" content="$if(description)$$description$$else$$siteDescription$$endif$">
    <meta name="author" content="$siteAuthor$"/>
    <link href="/favicon.ico" rel="icon"/>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="$title$" href="/feed.xml" />
  </head>
