<header class="site-header">
  <div class="container">
    <h1><a href="/">Vinodkumar <span>Puliyadi</span></a></h1>

    <button type="button" class="sliding-panel-button">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="navbar sliding-panel-content">
      <ul>
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="/about/" title="About">About</a></li>
          <li><a href="/contact/" title="Contact">Contact</a></li>
          <li><a href="/blog/" title="Blog">Blog</a></li>
          <li><a href="/feed.xml" target="_blank"><i class="icon icon-feed"></i></a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="sliding-panel-fade-screen"></div>
