<section class="hero">

  <div class="hero-inner container">

    <img src="//www.gravatar.com/avatar/ee67f4418496c2dd45dbc0a8ff74b7c4?d=&s=80" alt="author thumb" class="dot">
    <h1>Hello!..</h1>
    <h3>I'm <strong itemprop="name">$siteAuthor$</strong>, a <em itemprop="jobTitle">Software Programmer</em>.</h3>

    <h3>$siteDescription$</h3>

    <a href="/about/" class="btn btn-ghost">about</a>
    <a href="/blog/" class="btn btn-ghost">blog</a>

    $partial("_includes/social.html")$

  </div>

</section>